body {
    font-family: 'Montserrat', serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    padding: 20px;
} 

.animal-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding-top: 10px;
}

.animal-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
    
}

.animal-details {
    display: flex;
    flex-direction: column;
}

#selected-animal {
    font-weight: bold;
    margin-top: 0;
}


/* Styling for the Food Information section */
.food-info {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    display: none; /* Initially hide the section */
    margin-top: 20px;
    margin-bottom: 70px;
    margin-left: 70px;
}

/* Styling for the list of foods */
ul {
    list-style-type: none;
    padding: 0;
}

/* Styling for each food item in the list */
li {
    margin-bottom: 10px;
    cursor: pointer;
}

/* Change text color on hover for better user interaction */
li:hover {
    background-color: #22651D;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    border-width: 5px;
}

/* Styling for the Food Information paragraph */
.food-info p {
    margin-top: 20px;
    font-weight: bold;
}
