h1, h2 {
    font-family: 'Montserrat', serif;
}

body {
     background-color: #e3e9e3; 
    color: #333333;
    font-family: 'Inter', sans-serif;
}

.main {
    text-align: center;
    margin-top: 50px;
    align-items: center;
}

.buttons button {
    background-color: #22651d; 
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: black; /* Black text color for labels */
}

form input,
form textarea {
    padding: 10px;
    padding-left: 5px;
    margin-bottom: 15px;
    border: 5px solid #22651d; /* Green border */
    border-radius: 5px;
    box-sizing: border-box;
}

form textarea {
    resize: vertical;
}

form button {
    align-items: center;
    background-color: #22651d; /* Green button */
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}