body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container-fluid {
    display: flex;
    height: 100vh;
    padding-right: 0;
    padding-left: 0;
}

.no-padding {
    padding-right: 0;
    padding-left: 0;
}


.menu, .menu-items, .content {
    display: flex;
    flex-direction: column;
}

.menu {
    background-color: #ffffff;
    width: 22rem;
    align-items: flex-start; /* Center content horizontally */
    padding-top: 3.125rem;
}


.header {
    position: relative; /* Ensures the z-index property works */
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-bottom: 3.125rem; /* Adds spacing between logo and menu items */
}

.hidemenu-btn {
    position: relative; /* Ensures the z-index property works */
    z-index: 1; /* Adjust the z-index value */
}

.hidemenu-icon {
    margin-left: 1.7rem;
    margin-top: -1rem;;
    z-index: 1;
}

.menu-items {
    justify-content: space-evenly; 
    padding-left: 0;
}


.content {
    padding-right: 0;
    padding-left: 0;
    background-color: #e3e9e3;
    flex: 1; 
    height: 100%;
    overflow-y: auto; /* Add scrolling if needed */
}

ul {
    list-style-type: none
}

a.nav-link {
    color:#22651D;
}

.menu-items .nav-item .nav-link {
    padding-left: 0;
    display: flex; /* Allow the flexbox layout */
    align-items: center; /* Vertically center the content */
}

.menu-names {
    font-family: Montserrat, serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: #22651D;
    display: flex;
    align-items: center;
}

.menu-icons {
    color: #22651D;
    margin-right: 0.5rem; /* Add spacing between the icon and text */
}

.custom-pills .nav-link.active,.menu-icons.active, .custom-pills .show > .nav-link {
    background-color: #22651D !important;
    color: white;
    width: 4.5rem;
}


.custom-pills .nav-link.active,
.custom-pills .show > .nav-link {
    justify-content: center;
    border-radius: 0.8rem; /* Adjust the value as needed */
} 
